/* Q#1 All the HTML5 new elements are displayed as block-level elements*/


 * { 
     display: block;
 } 


/* Q#2 */
The <body> element has to be styled with:
a. Any colour you prefer for the text
b. A background image, you can use any one from the 7 samples of dark-woodx.jpg. So, pick the
one that reflects the colour of your website.
▪ If no one matches your website colour, you can use Photoshop to change its colours
▪ If you haven’t finished the Photoshop module, you will have no other choice just to pick one
of the provided samples
▪ Make sure to have only one background image which is the one that is used in your css code
c. The font family (face) is at least 3 options of any sans-serif fonts
d. Margin 0 for all the four sides (top, bottom, left, right)

body {
    color:   ;
    background-image: url("")   ;
    font-family: 1, 2, 3, sans-serif;
    margin: 0;
    padding: o;
    box-sizing: 0;     
}




/* Q#3 */


/* Q#4 */

/* Q#5 */

/* Q#6 */

/* Q#7 */

/* Q#8 */

/* Q#9 */

/* Q#10 */

/* Q#11 */

/* Q#12 */

/* Q#13 */

/* Q#14 */

/* Q#15 */

/* Q#16 */

/* Q#17 */

/* Q#18 */

/* Q#19 */

/* Q#20 */

/* Q#21 */

/* Q#22 */
